

<div>
  <%= form.label "Quantity:"  %>
  <%= form.text_field :quantity %>
</div>
<div>
  <%= form.label "Unit:"  %>
  <%= form.text_field :unit %>
</div>
<div>
  <%= form.label "Ingredient:"  %>
  <%= form.text_field :ingredient %>
</div>
