<h1>Ajouter une recette</h1>

<%= simple_form_for @recipe do |f| %>
  <%= f.input :title %>
  <%= f.input :duration %>
  <%= f.input :shares %>
  <%= f.simple_fields_for :recipe_ingredients do |i| %>
    <h3>Ingredients</h3>
    <%= i.input :quantity %>
    <%= i.input :unit %>
    <%= i.collection_select :ingredient_id, Ingredient.all, :id, :name%>
  <% end %>
  <%= f.button :submit %>
<% end %>
