<h1>Liste des ingrédients</h1>

<%= simple_form_for @ingredient do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.button :submit %>
<% end %>


<ul>
<% @ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name %>, <%= ingredient.category %>
    </li>
<% end %>
</ul>
